[submodule "cb-core/local/super-smart-ops"]
	path = cb-core/local/super-smart-ops
	url = https://github.com/chrisbarrett/super-smart-ops.git
[submodule "cb-agda/local/agda-mode"]
	path = cb-agda/local/agda-mode
	url = https://github.com/jwiegley/agda-mode.git
[submodule "cb-haskell/local/liquid-types"]
	path = cb-haskell/local/liquid-types
	url = https://github.com/ucsd-progsys/liquid-types.el.git
[submodule "cb-flycheck/local/haskell-flycheck"]
	path = cb-flycheck/local/haskell-flycheck
	url = https://github.com/chrisdone/haskell-flycheck.git
[submodule "cb-sunrise-commander/local/sunrise-commander"]
	path = cb-sunrise-commander/local/sunrise-commander
	url = https://github.com/escherdragon/sunrise-commander.git
[submodule "cb-org-reveal/submodules/reveal.js"]
	path = cb-org-reveal/submodules/reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "cb-proof/local/PG"]
	path = cb-proof/local/PG
	url = https://github.com/ProofGeneral/PG.git
[submodule "cb-haskell/local/flycheck-stack"]
	path = cb-haskell/local/flycheck-stack
	url = git@github.com:chrisdone/flycheck-stack.git
